<!--https://stackblitz.com/angular/yvxrqopovev?file=src%2Fapp%2Fapp.component.ts-->

<app-organization-creator #updater id="updater" class="d-none"></app-organization-creator>
<div class="container pt-4" >
  <app-organization-creator #creator class="ml-5 mr-5 mb-5 p-3"></app-organization-creator>
  <div class="card bg-light">
    <div class="card-title m-3">
      <h4>Organizations</h4>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <!--    <th scope="col">Id</th>-->
            <th scope="col">Name</th>
            <th scope="col">Website</th>
            <th scope="col">Partners</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let org of orgs">
  <!--              <th scope="row">{{ org.id }}</th>-->
            <td><a class="custom-link" [routerLink]="['organization']" [queryParams]="{ id: org.id }">{{ org.name}}</a></td>
            <td><a target="_blank" href='{{ org.website}}'>{{ org.website}}</a></td>
            <td>{{ org.partnerIds }}</td>
            <td *ngIf="isEditMode()"><button (click)="showUpdater($event, org)">update</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
