<div class="container mt-4">
  <div class="row-cols-3">
    <button class="float-right" [routerLink]="['']">back</button>
  </div>
  <div class="row-cols-1">
    <div class="card bg-light p-2">
      <div class="card-title">
        <h3>{{organization.name}}</h3>
      </div>
      <div class="card-body">
        <!--    <p><small><i>id: {{organization.id}}</i></small></p>-->
        <p>website: <a target="_blank" href="{{organization.website}}">{{organization.website}}</a></p>
      </div>
    </div>
  </div>
</div>
