<div class="" *ngIf="isChecked()">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>{{type == 0 ? 'Submit' : 'Update'}} organization</b>
      </mat-panel-title>
      <mat-panel-description>
        <!--        <i>{{panelOpenState ? 'close' : 'open'}} organization sumbission panel</i>-->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="bg-light">
      <form [formGroup]="orgForm" (ngSubmit)="submitForm()" #formDir="ngForm">

        <div class="card-body" [hidden]="!init">

          <div class="cross-validation" [class.cross-validation-error]="orgForm.errors?.identityRevealed && (orgForm.touched || orgForm.dirty)">
            <div class="form-group">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of nameOptions" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <label for="name">Name</label>
              <input id="name" class="form-control" formControlName="name" (keyup)=findOrganizationsByName() required matInput [formControl]="nameControl" [matAutocomplete]="auto">
            </div>

            <div class="form-group">
              <label for="website">website</label>
              <input id="website" class="form-control" formControlName="website">
              <div *ngIf="website.pending">Validating...</div>
              <div *ngIf="website.invalid && (website.touched)" class="alert alert-danger alter-ego-errors">
                Website is required
              </div>
            </div>

            <div class="form-group">
              <label for="tags">tags</label>
              <!-- Shows selected tags-->
              <mat-chip-list id="tags" #chipList aria-label="selecting tags" required (keyup)=findOrganizationTagsByName()>
                  <mat-chip *ngFor="let selectedTag of selectedTags" [value]="selectedTag" [selectable]="selectable" [removable]="removable" (removed)="remove(selectedTag)">
                    <mat-icon matChipRemove *ngIf="removable">x</mat-icon>
                    {{selectedTag}}
                  </mat-chip>
              </mat-chip-list>
              <!-- The actual input field              -->
              <input #tagInput placeholder="New tag..." required class="form-control" (keyup)=findOrganizationTagsByName($event) [formControl]="tagControl" formControlName="tags" [matAutocomplete]="tagsAuto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
              <mat-autocomplete #tagsAuto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let possibleTag of tagOptions" [value]="possibleTag">
                  {{possibleTag}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>

          <button type="submit" class="btn btn-default"
                  [disabled]="orgForm.invalid">{{type == 0 ? 'Submit' : 'Update'}}</button>
        </div>
      </form>
      <div class="submitted-message" *ngIf="formDir.submitted && !init">
        <p *ngIf="!init">You've succesfully {{type == 0 ? 'submitted' : 'updated'}} the organization '{{ orgForm.value.name }}'</p>
        <button *ngIf="type == 0" (click)=resetForm()>Add new organization</button>
      </div>
    </div>
  </mat-expansion-panel>
</div>
